<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="SimpleImportTest">
            <directory>./test/SimpleImportTest</directory>
        </testsuite>
    </testsuites>
</phpunit>